
<body class="body-bk">
<br>
<div class="logo">
  <img src="https://digitalhub.fifa.com/transform/e9d95991-47a6-45e9-af75-c33e93beaf11/Qatar_2022_white_logo">
</div>
<br>
<br>
<h1><b>COPA MUNDIAL DE LA FIFA CATAR 2022™</b> </h1>
<h1><b> GRUPOS</b></h1>
<div class="container">

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo A</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoA; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo B</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoB; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo C</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoC; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo D</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoD; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo E</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoE; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo F</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoF; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo G</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoG; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo H</th>
        </tr>
      </thead>
    </table>
    <div class="item" *ngFor="let equipo of grupoH; index as i">
      <table>
          <td>
            <img src={{equipo.bandera}}/>
            <label><b>{{equipo.nombre}}</b></label>
          </td>
      </table>
    </div>
  </div>
</div>

    <br><br><br>

  </body>
