<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body-bk">

<div class="container-fluid">
  <h2 class="featurette-heading1">Información de la Liga</h2>
</div>

<div class="container-fluid">
  <table class="table">
    <thead>
    <tr class="table-light">
      <th scope="col">Id Liga</th>
      <th scope="col">Nombre Liga</th>
      <th scope="col">Cantidad Equipos</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Fecha Final</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light" *ngFor="let liga of ligas">
      <th scope="row">{{liga.id}}</th>
      <td>{{liga.NombreLiga}}</td>
      <td>{{liga.Cant_Equipos}}</td>
      <td>{{liga.Fecha_Inicio}}</td>
      <td>{{liga.Fecha_Final}}</td>
    </tr>
    </tbody>
  </table>
  <hr class="featurette-divider">
</div>


<div class="container-fluid">
  <h4> Usuarios de la Liga</h4>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar container-fluid flex w-50 pos">
  <table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Pais</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-secondary" *ngFor="let usuario of usuarios">
      <th scope="row">{{usuario.id}}</th>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.nombre}}</td>
    </tr>
    </tbody>
  </table>
  <hr class="featurette-divider">
</div>

<br><br>
<div class="form-group container-fluid flex w-50 pos">
  <input type="text" class="form-control" name="correo" placeholder="Ingrese Correo" required="required">
  <span class="help-block featurette-heading3">Ingrese el correo del Usuario al que desea invitar a la Liga.</span>
</div>
<div class="form-group container-fluid flex w-50 pos">
  <button type="submit" class="btn btn-primary">Invitar Usuario</button>
</div>

<br><br>
<br><br>

</body>
</html>
