
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body-bk">

<div class="container-fluid">
  <h2 class="featurette-heading1">Información de la Liga</h2>
</div>
<div class="row">
  <div class="col">
    <div class="container-fluid">
      <table class="table">
        <thead>
        <tr class="table-light">
          <th scope="col">Id Liga</th>
          <th scope="col">Nombre Liga</th>
          <th scope="col">Cantidad Equipos</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Final</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light">
          <th scope="row">{{ligas.id}}</th>
          <td>{{ligas.nombreLiga}}</td>
          <td>{{ligas.cant_Equipos}}</td>
          <td>{{ligas.fecha_Inicio}}</td>
          <td>{{ligas.fecha_Final}}</td>
        </tr>
        </tbody>
      </table>
      <hr class="featurette-divider">
    </div>
  </div>

</div>

<div class="row">
  <div class="col">
<div class="container-fluid flex w-75">
  <h4>Invitar a un Usuario</h4>
  <input type="text" class="form-control" name="correo" placeholder="Ingrese Correo" required="required" #correo>
  <p>Ingrese el correo del Usuario al que desea invitar a la Liga.</p>
</div>
<div class="form-group container-fluid flex w-50">
  <button class="btn btn-primary button1" (click)="invitarUsuario(correo.value)">Invitar Usuario</button>
</div>
<hr class="featurette-divider">

</div>
<div class="col">
  <div class="container-fluid" *ngIf="admin">
    <h4> Usuarios Pendientes</h4>
    <p>Estos usuarios estan pendientes de ser aceptados en la liga</p>
  </div>
  
  <div class="table-wrapper-scroll-y2 my-custom-scrollbar container2-fluid flex " *ngIf="admin">
    <table class="table table-bordered table-dark">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope = "col">User</th>
        <th scope = "col">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-secondary" *ngFor="let usuario of usuariosPendientes">
        <td>{{usuario.Nombre}}</td>
        <td>{{usuario.Correo}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="Aceptar(usuario.IdUnion)">Aceptar</button>
          <button class="btn btn-danger btn-sm margin-left" (click)="Rechazar(usuario.IdUnion)" >Rechazar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <hr class="featurette-divider">
  </div>
</div>
</div>


<div class="row">
  <div class="col"> 
    <div class="container-fluid">
      <h4>Participantes y Ranking</h4>
    </div>

    <div class="table-wrapper-scroll-y2 my-custom-scrollbar1 container2-fluid ">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope = "col">User</th>
          <th scope="col">Ranking</th>
          <th scope="col">Punteo</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary" *ngFor="let usuario of usuarios">
          <td>{{usuario.Nombre}}</td>
          <td>{{usuario.Correo}}</td>
          <td>{{usuario.Ranking}}</td>
          <td>{{usuario.Puntaje}}</td>
        </tr>
        </tbody>
      </table>
      <hr class="featurette-divider">
    </div>
  </div>

  <div class="col">

    <div class="container row offset-md-0 ">
      <h4>Partidos</h4>
    </div>
  <div class="table-wrapper-scroll-y2 my-custom-scrollbar1 container2-fluid">
    <div class="col-sm-150 "  *ngFor="let Jr1 of partidos; index as i" >

      <table class="table rounded-3 table-bordered table-striped mb-0" >
        <thead>
         <tr>
           <th>Grupo</th>
           <th>{{Jr1.grupos1}}</th>
           <th>Informacion</th>
           <th>Opciones</th>
         </tr>
        </thead>
           <tbody>
               <tr>
                   <td><img class="img-fluid"  width="100" src={{Jr1.bandera1}}/></td>
                   <td>{{Jr1.pais1}}</td>
                   <td>{{Jr1.fecha}}</td>
                   <td><button class="btn button1 btn-sm">Ver Informacion</button></td>
               </tr>
           </tbody>
           <tbody>
             <tr>
                 <td><img class="img-fluid"  width="100" src={{Jr1.bandera2}}/></td>
                 <td>{{Jr1.pais2}}</td>
                 <td>{{Jr1.horario}}</td>
                 <td><button  class="btn button1 btn-sm" (click)="partidoVaticinio(Jr1.columna)" >Realizar Vaticinio</button></td>
             </tr>
         </tbody>
       </table>

    </div>

  </div>
  </div>

</div>
<hr class="featurette-divider">

</body>
</html>
