<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body-bk">

<div class="container-fluid"><button class="btn button1" routerLink="/liga/{{LigasId}}">Regresar a {{ligas.nombreLiga}}</button></div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="container row offset-md-0 ">
        <h1 class="h1 color text-light">Partido</h1>
      </div>
      <div class="container-fluid">
        <table class="table table-bordered table-striped mb-0">
          <thead>
          <tr class="table-light">
            <th scope="col">Bandera</th>
            <th scope="col">País</th>
            <th scope="col">Marcador</th>
          </tr>
          </thead>
          <tbody>
          <tr class="table-light">
            <td><img class="img-fluid"  width="100" src={{partidos.bandera1}}/></td>
            <td>{{partidos.pais1}}</td>
            <td>{{partidos.marcador1}}</td>
          </tr>
          <tr class="table-light">
            <td><img class="img-fluid"  width="100" src={{partidos.bandera2}}/></td>
            <td>{{partidos.pais2}}</td>
            <td>{{partidos.marcador2}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col" *ngIf="admin">
      <div class="container row offset-md-0">
          <h1 class="h1 color text-light">Ingreso Marcador</h1>
      </div>

        <div class="marcadorForm container row offset-md-4">
              <label for="marcador1" class="h4">{{partidos.pais1}}
                <input class="marcadorForm" type="number" id="marcador1" name="marcador1" #marcador1>
              </label>
              <label for="marcador2" class="h4">{{partidos.pais2}}
                <input class="marcadorForm" type="number" id="marcador2" name="marcador2" #marcador2>
              </label>
              <button class="btn button1 btn-block" (click) = "Marcaje(marcador1.value,marcador2.value)" >
                <i class="fas fa-sign-in-alt"></i>Ingresar</button>
        </div>


    </div>
  </div>

    <div class="container row offset-md-0 ">
      <h1 class="h1 color text-light">Listado de Vaticinios</h1>
    </div>

    <div class="table-wrapper-scroll-y my-custom-scrollbar container-fluid flex w-50 pos ">
      <table class="table table-bordered table-dark">
        <thead>
        <tr>
          <th scope="col">Punteo</th>
          <th scope="col">Usuario</th>
          <th scope="col">{{partidos.pais1}}</th>
          <th scope="col">{{partidos.pais2}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary"  *ngFor="let vat of vaticinio">
          <td>{{vat.puntaje}}</td>
          <td>{{vat.nombreUsuario}}</td>
          <td>{{vat.pais1}}</td>
          <td>{{vat.pais2}}</td>
        </tr>
        </tbody>
      </table>

    </div>
    <!-- Esto es un comentario -->

    <br>


</div>

</body>
</html>
