<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body-bk">

<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="container row offset-md-0 ">
        <h1 class="h1 color text-light">Partido</h1>
      </div>
      <div class="container1-fluid">
        <table class="table table-bordered table-striped mb-0">
          <thead>
          <tr class="table-light">
            <th scope="col">Bandera</th>
            <th scope="col">País</th>
            <th scope="col">Marcador</th>
          </tr>
          </thead>
          <tbody>
          <tr class="table-light">
            <td>B1</td>
            <td>Francia</td>
            <td>2</td>
          </tr>
          <tr class="table-light">
            <td>B2</td>
            <td>Australia</td>
            <td>1</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col">
      <div class="container row offset-md-0 ">
        <h1 class="h1 color text-light">Ingreso Marcador</h1>
      </div>







    </div>
  </div>
</div>


</body>
</html>
