.container1{
      font-family: Arial;
      font-size: x-large;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
  }

.table{
  background-color:#ffffff;
  width: 100%;
  border-collapse: collapse;
}

.form-control {
	width: 100px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;
	text-align: center;
}

.h4{
  font-size: 25px;
  color: #FFFFFF;
}

