
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="body-bk">
<div class="container-fluid">
  <h2 class="featurette-heading1">Qatar 2022</h2>
  <p class="blockquote featurette-p">Qatar es el Pais Sede de la Copa Mundial FIFA 2022</p>
</div>
<hr class="featurette-divider">
<div class="row  justify-content-center" *ngFor="let sedePais of sedesPais; index as i">
  <div class="row offset-md-1 w-50">
    <div class="col-md-auto order-md-2 div-1">
      <h2 class="featurette-heading fw-normal lh-1">{{sedePais.nombre}} <span class="text-muted"></span></h2>
      <img class="img-thumbnail"  alt="Responsive image" src={{sedePais.imgSedePais}}/>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Descripción</th>
          <th scope="col">Poblacion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{sedePais.descripcion}}</td>
          <td>{{sedePais.poblacion}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr class="featurette-divider">
</div>

<div class="container-fluid">
  <h2 class="featurette-heading1">Ciudades Sede del Mundial</h2>
  <p class="blockquote featurette-p">Cinco son las ciudades Sede del Mundial, aunque cuatro de ellas pertenecen casi al mismo espacio metropolitano, conoce las Sedes:</p>
</div>
<hr class="featurette-divider">
<div class="row justify-content-center" *ngFor="let sede of sedes; index as i">
  <div class="row w-50">
    <div class="col-md-auto order-md-2 div-1">
      <h2 class="featurette-heading fw-normal lh-1">{{sede.nombre}} <span class="text-muted"></span></h2>
      <img class="img-thumbnail"  alt="Responsive image" src={{sede.imgCiudad}}/>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Descripción</th>
          <th scope="col">Estadios</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{sede.descripcion}}</td>
          <td>{{sede.estadios}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr class="featurette-divider">
</div>
</body>
</html>
