<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <hr class="featurette-divider">
      
    <div class="row featurette offset-md-1">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Japón <span class="text-muted"></span></h2>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  width="150" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Japon</title>
            <rect width="100%" height="100%" fill="#eee"/>
            <image xlink:href="https://www.sitographics.com/enciclog/banderas/asia/image_2012/Japon.gif"  width=100% height=100%  />      
        </svg>

      </div>
    </div>
    <hr class="featurette-divider">
</body>
</html>
