<body class="body-bk">
    <div>
    <h1><button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/liga']">Administrar Ligas</button></h1>
    <h1><button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/form-liga']">Crear Ligas</button></h1>
    <h1><button type="button" class="btn btn-secondary btn-lg">Ultimas apuestas</button></h1>
    </div>
    <div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar container-fluid row w-50">

            <table class="table table-bordered table-striped mb-0 table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@Insta</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@Face</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@GOD</td>
                  </tr>
              </tbody>
            </table>
          
          </div>
          
    </div>
</body>