<body class="body-bk">
<br>
<div class="logo">
  <img src="https://digitalhub.fifa.com/transform/e9d95991-47a6-45e9-af75-c33e93beaf11/Qatar_2022_white_logo">
</div>
<br>
<br>
<h1><b>COPA MUNDIAL DE LA FIFA CATAR 2022™</b> </h1>
<h1><b> GRUPOS</b></h1>
<div class="container">
  <div class="item">
    
    <table>
      <thead>
        <tr>
          <th>Grupo A</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/QAT?tx=c_fill,g_auto,q_auto"/>
          <label><b>QATAR</b></label>
        </td>
        </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ECU?tx=c_fill,g_auto,q_auto"/>
            <label><b>ECUADOR</b></label> 
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/SEN?tx=c_fill,g_auto,q_auto"/>
            <label><b>SENEGAL</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/NED?tx=c_fill,g_auto,q_auto"/> 
            <label><b>PAISES BAJOS</b></label>
        </td>
      </tr>
    </table>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo B</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto"/>
            <label><b>INGLATERRA</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/IRN?tx=c_fill,g_auto,q_auto"/> 
            <label><b>IRÁN</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/USA?tx=c_fill,g_auto,q_auto"/>
            <label><b>EEUU</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/WAL?tx=c_fill,g_auto,q_auto"/> 
            <label><b>GÁLES</b></label>
        </td>
      </tr>
    </table>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo C</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ARG?tx=c_fill,g_auto,q_auto"/>
            <label><b>ARGENTINA</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/KSA?tx=c_fill,g_auto,q_auto"/>
            <label><b>ARABIA SAUDÍ</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/MEX?tx=c_fill,g_auto,q_auto"/>
            <label><b>MÉXICO</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/POL?tx=c_fill,g_auto,q_auto"/>
            <label><b>POLONIA</b></label>
        </td>
      </tr>
    </table>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo D</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/FRA?tx=c_fill,g_auto,q_auto"/>
            <label><b>FRANCIA</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/DEN?tx=c_fill,g_auto,q_auto"/>
            <label><b>DINAMARCA</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/TUN?tx=c_fill,g_auto,q_auto"/>
            <label><b>TÚNEZ</b></label> 
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/AUS?tx=c_fill,g_auto,q_auto"/>
            <label><b>AUSTRALIA</b></label>
        </td>
      </tr>
    </table>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo E</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/ESP?tx=c_fill,g_auto,q_auto"/>
            <label><b>ESPAÑA</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/GER?tx=c_fill,g_auto,q_auto"/>
            <label><b>ALEMANIA</b></label> 
        </td>
      </tr>
      <tr>
        <td>
            <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/JPN?tx=c_fill,g_auto,q_auto"/>
            <label><b>JAPÓN</b></label>
        </td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/CRC?tx=c_fill,g_auto,q_auto"/>
          <label><b>COSTA RICA</b></label></td>
      </tr>
    </table>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo F</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/BEL?tx=c_fill,g_auto,q_auto"/>
          <label><b>BÉLGICA</b></label></td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/CAN?tx=c_fill,g_auto,q_auto"/>
          <label><b>CANADÁ</b></label></td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/MAR?tx=c_fill,g_auto,q_auto"/>
          <label><b>MARRUECOS</b></label></td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/CRO?tx=c_fill,g_auto,q_auto"/>
          <label><b>CROACIA</b></label></td>
      </tr>
    </table>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo G</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/BRA?tx=c_fill,g_auto,q_auto"/>
          <label><b>BRASIL</b></label></td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/SRB?tx=c_fill,g_auto,q_auto"/>
            <label><b>SERBIA</b></label></td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/SUI?tx=c_fill,g_auto,q_auto"/> 
          <label><b>SUIZA</b></label></td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/CMR?tx=c_fill,g_auto,q_auto"/>
          <label><b>CAMERÚN</b></label></td>
      </tr>
    </table>
  </div>

  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Grupo H</th>
        </tr>
      </thead>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/POR?tx=c_fill,g_auto,q_auto"/>
          <label><b>PORTUGAL</b></label></td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/GHA?tx=c_fill,g_auto,q_auto"/>
          <label><b>GHANA</b></label></td>
      </tr>
      <tr>
        <td>
          <img src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/URU?tx=c_fill,g_auto,q_auto"/>
          <label><b>URUGUAY</b></label></td>
      </tr>
      <tr>
        <td>
          <img
            src="https://cloudinary.fifa.com/api/v3/picture/flags-sq-2/KOR?tx=c_fill,g_auto,q_auto"/> 
            <label><b>COREA DEL SUR</b></label></td>
      </tr>
    </table>
  </div>
</div>
</body>


