
.container{
    font-family: Arial;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

table{
    background-color: #F5EED5;
    width: 100%;
    border-collapse: collapse;
}

img{
    padding: 1px;
    width: 25%;
    border-radius: 6px;
}

th, td{
    border: solid 5px #56042C 0.5;
    padding: 12px;
}

th{
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    float: initial;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 380px;
    padding: 0px;
}

label{
    padding: 37px;
    color: #56042C;
}

thead,tr{
    background-color:  #56042C;
    padding: 0px;
}

.logo{
    justify-content: center;
    padding-top: 25px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.logo, .container, h1{
    background: center center cover no-repeat fixed;
}