<body class="body-bk">
    <div>
    <h1>Horarios de partidos</h1>
    <h1 class="h1T">Mundial Qatar 2022</h1>
    </div>
    <div class="b-example-divider"></div>
    <h3>Jornada 1 de 3</h3>
    
      <div class="container">
        <div class="row   " >
       
          <div class="col-md-auto">
            <table class="table rounded-3" >
              <thead>
               <tr>
                 <th> Grupos</th>
      
          
               </tr>
              </thead>
                 <tbody>
                     <tr>
                         <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                         <td>Datos</td>
                      
                         <td>11/10/5826</td>
                        
                     </tr>
                 </tbody>
                 <tbody>
                   <tr>
                       <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                       <td>Datos</td>
                    
                  
                       <td>04:00</td>
                   </tr>
               </tbody>
                 
             
             </table>
          </div>
          <div class="col-md-auto"> 
            <table class="table rounded-3" >
            <thead>
             <tr>
               <th> Grupos</th>
          
             </tr>
            </thead>
               <tbody>
                   <tr>
                       <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                       <td>Datos</td>
                     
                       <td>11/10/5826</td>
                      
                   </tr>
               </tbody>
               <tbody>
                 <tr>
                     <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                     <td>Datos</td>
                     <td>04:00</td>
                 </tr>
             </tbody>
               
           
           </table></div>
        </div>
      </div>
      
    <hr class="featurette-divider">
    <h3>Jornada 2 de 3</h3>
    
      <div class="container">
        <div class="row   " >
       
          <div class="col-md-auto">
            <table class="table rounded-3" >
              <thead>
               <tr>
                 <th> Grupos</th>
      
          
               </tr>
              </thead>
                 <tbody>
                     <tr>
                         <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                         <td>Datos</td>
                      
                         <td>11/10/5826</td>
                        
                     </tr>
                 </tbody>
                 <tbody>
                   <tr>
                       <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                       <td>Datos</td>
                    
                  
                       <td>04:00</td>
                   </tr>
               </tbody>
                 
             
             </table>
          </div>
          <div class="col-md-auto"> 
            <table class="table rounded-3" >
            <thead>
             <tr>
               <th> Grupos</th>
          
             </tr>
            </thead>
               <tbody>
                   <tr>
                       <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                       <td>Datos</td>
                     
                       <td>11/10/5826</td>
                      
                   </tr>
               </tbody>
               <tbody>
                 <tr>
                     <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                     <td>Datos</td>
                     <td>04:00</td>
                 </tr>
             </tbody>
               
           
           </table></div>
        </div>
      </div>
      <hr class="featurette-divider">
    
      <h3>Jornada 3 de 3</h3>
    
      <div class="container">
        <div class="row   " >
       
          <div class="col-md-auto">
            <table class="table rounded-3" >
              <thead>
               <tr>
                 <th> Grupos</th>
      
          
               </tr>
              </thead>
                 <tbody>
                     <tr>
                         <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                         <td>Datos</td>
                      
                         <td>11/10/5826</td>
                        
                     </tr>
                 </tbody>
                 <tbody>
                   <tr>
                       <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                       <td>Datos</td>
                    
                  
                       <td>04:00</td>
                   </tr>
               </tbody>
                 
             
             </table>
          </div>
          <div class="col-md-auto"> 
            <table class="table rounded-3" >
            <thead>
             <tr>
               <th> Grupos</th>
          
             </tr>
            </thead>
               <tbody>
                   <tr>
                       <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                       <td>Datos</td>
                     
                       <td>11/10/5826</td>
                      
                   </tr>
               </tbody>
               <tbody>
                 <tr>
                     <td><img class="img-fluid"  width="50" src="https://flagcdn.com/sn.svg"/></td>
                     <td>Datos</td>
                     <td>04:00</td>
                 </tr>
             </tbody>
               
           
           </table></div>
        </div>
      </div>
    
    
    
    
      <div class="b-example-divider"></div>
    </body>