<!-- Pagina principal - proyecto WFM FIFA 2022 -->
<h1 class="container bg-dark text-white text-center my-4 py-4">Qatar FIFA 2022</h1>
<div>
    <p class="text-info" *ngIf="true">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam accusantium earum odit dolorem corporis, quibusdam atque aspernatur perferendis quo minus quae obcaecati omnis aperiam ad harum fugiat voluptatum, autem porro.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum nulla doloremque nemo, repudiandae tempore eos delectus, accusamus perspiciatis natus nam! Iure possimus inventore repellat perferendis quas quia, ad provident.
    </p>
</div>
<router-outlet></router-outlet>

