<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body-bk">
    <div class="container row offset-md-5 ">
        <h1 class="h1 color text-light">Registro </h1>
    </div>
<div class="container d-flex justify-content-center">
    <div class="row div-1 mt-5 mb-5 w-75 p-3">
        <p >Porfavor Ingrese sus datos para registrarse </p>
    <form [formGroup]="user" (ngSubmit)="onSubmit()" >
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Nombre: </label>
        <input id="name" class="form-control" type="text" formControlName="name" >
    </div>
    <div class="form-group row">
     <label class="col-sm-2 col-form-label" for="email">Email: </label>
        <input id="email" class="form-control" type="email" formControlName="email">
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="password">Password: </label>
        <input id="password" class="form-control" type="password" formControlName="password">
    </div>
    <div class="form-group row">
        <label for="img">Foto de Perfil: </label>
        <input id="img"  class="form-control-file col" type="file" formControlName="img">
    </div>
    <p>Complete the form to enable button.</p>
    <button class="btn btn-primary" type="submit" [disabled]="!user.valid">Submit</button>
    </form>
    </div>
</div>
</body>
