
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body-bk">
    <div class="container row offset-md-5 ">
        <h1 class="h1 color text-light">Registro </h1>
    </div>
<div class="container d-flex justify-content-center">
    <div class="row div-1 mt-5 mb-5 w-75 p-3">
        <p >Porfavor Ingrese sus datos para registrarse </p>
    <form [formGroup]="user" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="nombre">Nombre: </label>
        <input id="nombre" class="form-control" type="text" formControlName="nombre" required="required" >
    </div>
    <div class="form-group row">
     <label class="col-sm-2 col-form-label" for="email">Email: </label>
        <input id="email" class="form-control" type="email" formControlName="email" required="required">
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="password">Password: </label>
        <input id="password" class="form-control" type="password" formControlName="password" required="required">
    </div>
    <div class="form-group row">
        <label for="avatar" class="custom-file-label" >Foto de Perfil: </label>
        <!--(change)="onFileChange($event)"-->
        <input id="avatar"  class="custom-file-input col " type="file" formControlName="avatar" #inputImageFile required="required" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg">
    </div>
    <p>Ingrese todos los datos solicitados para registrarse</p>
    <button class="btn btn-primary" type="submit" [disabled]="!user.valid">Registrarse</button>
    </form>
    </div>
</div>
</body>
