.div-1 {
    background-color: #ffffff;
    border-radius: 30px;
    padding-bottom: 1cm;
    padding-top: 1cm;
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn-primary{
    background-color: #56042C;
  }